@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Litmus Test</h1>
    <p class="lead">Hello please select Browsers or Email Clients located at the top of the page to view which are supported by Litmus.</p>
</div>
